.page-enter-active {
  animation: page-in 0.5s;
}
.page-leave-active {
  animation: page-out 0.5s;
}
@keyframes page-in {
  from {
    position: absolute;
    transform: translateX(40%);
    opacity: 0;
  }
}
@keyframes page-out {
  to {
    position: absolute;
    transform: translateX(-40%);
    opacity: 0;
  }
}
