@import "./colors.scss";

@mixin title() {
  font-weight: bold;
  font-size: 2.188rem;
  line-height: 100%;
  color: $black;
}

@mixin subtitle() {
  font-weight: bold;
  line-height: 1.625rem;
  font-size: 1.375rem;
  color: $black-gray;
}

@mixin text() {
  font-weight: bold;
  font-size: 1.063rem;
  line-height: 120%;
  color: $black-gray;
}

@mixin subtext() {
  font-weight: bold;
  font-size: 0.863rem;
  line-height: 1rem;
  color: $black;
}

@mixin smallText() {
  font-weight: bold;
  font-size: 0.609rem;
  line-height: 1rem;
  color: $gray;
}
